html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFC;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none !important;
}

* {
  outline: none !important;
}

.hover-bg-opacity-white:hover {
  background-color: #FFFFFF66;
}

.rotate-vertical {
  animation: rotate-vertical .3s;
  animation-fill-mode: forwards;
}

@keyframes rotate-vertical {
  from {
    transform: rotate();
  }

  to {
    transform: rotate(180deg);
  }
}

.slick-slide *, .slick-arrow {
  z-index: -1 !important;
}

.yellow {
  color: #e7a74e;
}

.fit-content {
  width: fit-content !important;
}